@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
    /* CSS */
    .button-85 {
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: darkolivegreen;
        background: cadetblue;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 390px
    }

        .button-85:before {
            content: "";
            background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing-button-85 20s linear infinite;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
        }


        .button-85:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: bisque;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

    button-85:hover {
        background: #02549c;
    }


    .input {
        padding: 0.6rem 1.7rem;
        padding-bottom: 0.8rem;
        background: cornsilk;
        border-radius: 5px;
        width: 400px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 1px 1px #e3e3e3;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        border-color:darkolivegreen;
    }

        .input input {
            background: none;
            border: none;
            font-family: "Segoe UI", sans-serif;
            outline: none;
            font-size: 0.9em;
            box-sizing: border-box;
            width: 100%;
        }

        .input span {
            width: 130%;
            height: 3px;
            position: absolute;
            left: -10%;
            top: 95%;
            background: #868786;
            transition: background 100ms;
        }

        .input input:focus ~ span {
            background: #0067c0;
        }

        .input.search input[type="text"] {
            width: 93% !important;
        }

        .input.search {
            padding: 0.7rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .input.search input[type="submit"] {
                padding: 0 10px;
                width: 4%;
                height: 100%;
                background-image: url("https://i.ibb.co/Yc3g5bZ/Search-Light-96.png");
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center;
            }
            .title
            {
                font-family:Trebuchet MS;
                padding:25px;
                font-size:20pt; 
                font-weight:normal; 
                background-color:beige;
                color:darkolivegreen;
                width:400px;
                height:110px;
            }
            .subtitle
            {
                float:left;
                margin-left:90px; 
                font-size:12pt; 
                font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                font-weight:normal;
                padding:7px ;
            }

</style>
<div class="text-center" style="margin-top:150px;">
    <form>
        <div class="container">
            <div class="form-group" align="center">

                <h2 class="title">
                    WFM User Login 
                    <span class="subtitle">Resource Management</span>
                </h2>
            </div>
            <div class="form-group">

                <input class="input" type="text" placeholder="Username" id="Username" required>
            </div>
             
            <div class="form-group">

                <input class="input" type="password" placeholder="Password" id="Password" required>
            </div>
             
            <div class="form-group">
                <button class="button-85" type="submit" id="submit">Login</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js//custom.js"></script>